---
import Main from "../../components/Main.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="About Rhythm Nation Blog">
  <Main>
    <Title text='About Rhythm Nation Blog'/>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </Main>
</Layout>