---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<Layout title="Blog | Rhythm Nation Blog">
  <Main>
    <Title text='Rhythm Nation Blog'/>
  </Main>
</Layout>